O arquivo .gitignore atual do repositório do template contém apenas o 
seguinte:

```
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

```

Como eu utilizo um macbook air m1 e meus orientandos utilizam essencialmente 
Windows, pretendo substituir o .gitignore atual pelo seguinte conteúdo 
mais completo e adequado para ambos os sistemas operacionais:

```
# Arquivos de sistema do Windows
Thumbs.db
Desktop.ini

# Arquivos de sistema do MacOS
.DS_Store

# Arquivos do RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Arquivos temporários R
*_cache/
/cache/

# Arquivos de saída
*.pdf
*.html


# Arquivos temporários
*~
.~lock.*
*.tmp
*.bak
```

Se considerar adequado, como devo proceder para remover o pdf 
que já está sendo rastreado pelo git e adicionar o novo .gitignore ao 
repositório?